/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  background-color: #000000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.title--font {
  font-size: 48px;
  font-weight: 700;
  line-height: 63.98px;
}

.h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.h3 {
  font-size: 24px;
}

.nav-font--main {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.nav-font--btn {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.font--title {
  font-size: 48px;
  line-height: 64px;
  font-weight: 700;
}

.font--description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.font--btn {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.container {
  width: 1170px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1440px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.column {
  padding: 0 15px;
  width: 100%;
}

.column-1 {
  width: calc(1 / 12 *100%);
}

.column-2 {
  width: calc(2 / 12 *100%);
}

.column-3 {
  width: calc(3 / 12 *100%);
}

.column-4 {
  width: calc(4 / 12 *100%);
}

.column-5 {
  width: calc(5 / 12 *100%);
}

.column-6 {
  width: calc(6 / 12 *100%);
}

.column-7 {
  width: calc(7 / 12 *100%);
}

.column-8 {
  width: calc(8 / 12 *100%);
}

.column-9 {
  width: calc(9 / 12 *100%);
}

.column-10 {
  width: calc(10 / 12 *100%);
}

.column-11 {
  width: calc(11 / 12 *100%);
}

.column-12 {
  width: calc(12 / 12 *100%);
}

@media screen and (min-width: 576px) {
  .column {
    padding: 0 15px;
    width: 100%;
  }
  .column-sm-1 {
    width: calc(1 / 12 *100%);
  }
  .column-sm-2 {
    width: calc(2 / 12 *100%);
  }
  .column-sm-3 {
    width: calc(3 / 12 *100%);
  }
  .column-sm-4 {
    width: calc(4 / 12 *100%);
  }
  .column-sm-5 {
    width: calc(5 / 12 *100%);
  }
  .column-sm-6 {
    width: calc(6 / 12 *100%);
  }
  .column-sm-7 {
    width: calc(7 / 12 *100%);
  }
  .column-sm-8 {
    width: calc(8 / 12 *100%);
  }
  .column-sm-9 {
    width: calc(9 / 12 *100%);
  }
  .column-sm-10 {
    width: calc(10 / 12 *100%);
  }
  .column-sm-11 {
    width: calc(11 / 12 *100%);
  }
  .column-sm-12 {
    width: calc(12 / 12 *100%);
  }
}

@media screen and (min-width: 768px) {
  .column {
    padding: 0 15px;
    width: 100%;
  }
  .column-m-1 {
    width: calc(1 / 12 *100%);
  }
  .column-m-2 {
    width: calc(2 / 12 *100%);
  }
  .column-m-3 {
    width: calc(3 / 12 *100%);
  }
  .column-m-4 {
    width: calc(4 / 12 *100%);
  }
  .column-m-5 {
    width: calc(5 / 12 *100%);
  }
  .column-m-6 {
    width: calc(6 / 12 *100%);
  }
  .column-m-7 {
    width: calc(7 / 12 *100%);
  }
  .column-m-8 {
    width: calc(8 / 12 *100%);
  }
  .column-m-9 {
    width: calc(9 / 12 *100%);
  }
  .column-m-10 {
    width: calc(10 / 12 *100%);
  }
  .column-m-11 {
    width: calc(11 / 12 *100%);
  }
  .column-m-12 {
    width: calc(12 / 12 *100%);
  }
}

@media screen and (min-width: 992px) {
  .column {
    padding: 0 15px;
    width: 100%;
  }
  .column-lg-1 {
    width: calc(1 / 12 *100%);
  }
  .column-lg-2 {
    width: calc(2 / 12 *100%);
  }
  .column-lg-3 {
    width: calc(3 / 12 *100%);
  }
  .column-lg-4 {
    width: calc(4 / 12 *100%);
  }
  .column-lg-5 {
    width: calc(5 / 12 *100%);
  }
  .column-lg-6 {
    width: calc(6 / 12 *100%);
  }
  .column-lg-7 {
    width: calc(7 / 12 *100%);
  }
  .column-lg-8 {
    width: calc(8 / 12 *100%);
  }
  .column-lg-9 {
    width: calc(9 / 12 *100%);
  }
  .column-lg-10 {
    width: calc(10 / 12 *100%);
  }
  .column-lg-11 {
    width: calc(11 / 12 *100%);
  }
  .column-lg-12 {
    width: calc(12 / 12 *100%);
  }
}

@media screen and (min-width: 1200px) {
  .column {
    padding: 0 15px;
    width: 100%;
  }
  .column-xxl-1 {
    width: calc(1 / 12 *100%);
  }
  .column-xxl-2 {
    width: calc(2 / 12 *100%);
  }
  .column-xxl-3 {
    width: calc(3 / 12 *100%);
  }
  .column-xxl-4 {
    width: calc(4 / 12 *100%);
  }
  .column-xxl-5 {
    width: calc(5 / 12 *100%);
  }
  .column-xxl-6 {
    width: calc(6 / 12 *100%);
  }
  .column-xxl-7 {
    width: calc(7 / 12 *100%);
  }
  .column-xxl-8 {
    width: calc(8 / 12 *100%);
  }
  .column-xxl-9 {
    width: calc(9 / 12 *100%);
  }
  .column-xxl-10 {
    width: calc(10 / 12 *100%);
  }
  .column-xxl-11 {
    width: calc(11 / 12 *100%);
  }
  .column-xxl-12 {
    width: calc(12 / 12 *100%);
  }
}

@media screen and (min-width: 1440px) {
  .column {
    padding: 0 15px;
    width: 100%;
  }
  .column-xxl-1 {
    width: calc(1 / 12 *100%);
  }
  .column-xxl-2 {
    width: calc(2 / 12 *100%);
  }
  .column-xxl-3 {
    width: calc(3 / 12 *100%);
  }
  .column-xxl-4 {
    width: calc(4 / 12 *100%);
  }
  .column-xxl-5 {
    width: calc(5 / 12 *100%);
  }
  .column-xxl-6 {
    width: calc(6 / 12 *100%);
  }
  .column-xxl-7 {
    width: calc(7 / 12 *100%);
  }
  .column-xxl-8 {
    width: calc(8 / 12 *100%);
  }
  .column-xxl-9 {
    width: calc(9 / 12 *100%);
  }
  .column-xxl-10 {
    width: calc(10 / 12 *100%);
  }
  .column-xxl-11 {
    width: calc(11 / 12 *100%);
  }
  .column-xxl-12 {
    width: calc(12 / 12 *100%);
  }
}

#footer p {
  width: 460px;
}

#footer span {
  text-align: justify;
}

.logo__description {
  line-height: 24px;
  font-weight: 400;
}

.social__media__links {
  width: 129px;
}

.footer__contact {
  width: 222px;
}

* {
  color: white;
}

#nav {
  padding: 32px 0;
  margin-bottom: 100px;
}

#nav * {
  color: white;
}

.logo {
  width: 200px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav__start-project {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1232px;
  margin: auto;
}

.nav__menu__links {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link__item__search-icon {
  margin-right: 40px;
}

#footer p {
  width: 460px;
}

#footer span {
  text-align: justify;
}

.logo__description {
  line-height: 24px;
  font-weight: 400;
}

.social__media__links {
  width: 129px;
}

.footer__contact {
  width: 222px;
}

* {
  color: white;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-item--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-item--center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.flex-flow--row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.justify-content--flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-wrap--no-wrap {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.flex-wrap--wrap {
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
}

.flex-direction--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.padding-40px {
  padding: 40px;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.margin-bottom-57px {
  margin-bottom: 57px;
}

.margin-bottom-17px {
  margin-bottom: 17px;
}

.image-size-56x56 {
  width: 56px;
  height: 56px;
  -o-object-fit: cover;
     object-fit: cover;
}

.max-width-33p {
  max-width: 33.33%;
}

.o-hidden {
  overflow: hidden;
}

.border-top {
  border-top: #236079 solid;
}

.border-bottom {
  border-top: #236079 solid;
}

#hero {
  margin-bottom: 150px;
}

#hero * {
  color: white;
}

#hero h2 {
  text-align: center;
}

#hero p {
  text-align: center;
}

#hero a {
  text-align: center;
}

.hero__title {
  margin-bottom: 24px;
}

.hero__subtitle {
  margin-bottom: 48px;
}

.hero__btn {
  margin-bottom: 48px;
}

.max-height-192px {
  max-height: 191px;
}

#section1 {
  margin-bottom: 200px;
}

#section1 * {
  color: white;
}

#section1 .column-12 h1 {
  margin-right: 117px;
}

#section1 .column-12 .firs__p {
  width: 414px;
}

.section2__card__item__role {
  padding-bottom: 96px;
}
/*# sourceMappingURL=main.css.map */