
#footer{
    p{
        width: 460px;
    }
    span{
        text-align: justify;
    }
}
.logo__description{
    line-height: 24px;
    font-weight: 400;
}
.social__media__links{
    width: 129px;
}
.footer__contact{
    width: 222px;
}
* {
    color: white;
}