
//flex-box
.d-flex{
    display: flex;
}
.justify-content--center{
    justify-content: center;
}

.align-item--center{
    align-items: center;
}
.align-item--center{
    align-content: center;
}
.flex-flow--row-reverse{
    flex-flow: row-reverse;
}
.justify-content--flex-end{
    justify-content: flex-end;
}

.flex-wrap--no-wrap{
    flex-wrap: nowrap !important;
}
.flex-wrap--wrap{
    flex: wrap;
}
.flex-direction--column{
    flex-direction: column;
}

//padding and margins

.padding-40px{
    padding: 40px;
}
.margin-bottom-24px{
    margin-bottom: 24px;
}
.margin-bottom-57px{
    margin-bottom: 57px;
}
.margin-bottom-17px{
    margin-bottom: 17px;
}
.image-size-56x56{
    width: 56px;
    height: 56px;
    object-fit: cover;
}

//sizes
.max-width-33p{
    max-width: 33.33%;
}
.o-hidden{
    overflow: hidden;
}


//border
.border-top{
    border-top: #236079 solid ;
}
.border-bottom{
    border-top: #236079 solid ;
}